.small-input {
    max-width: 30%;
    width: 100%;
}


.search-button {
    display: flex;
    align-items: center;
    width: 10%;
    height: 40px;
    margin-top: 10px;
}

.item-image {
    height: 200px; 
    width: 200px; 
    object-fit: cover; 
    margin: 0 auto; 
}

.lablestyle {
    display: flex;
    flex-direction: column; 
    width: 100%;
}

.mt-2 {
    margin-top: 4px; 
}
.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 100%;
    text-align: center; 
    height: 91%;
  }
  
  .dropzone {
    width: 100%; 
    max-width: 60%; 
    min-height: 150px; 
    border: 2px dashed #2196f3; 
    border-radius: 8px; 
    padding: 20px; 
    background-color: #f9f9f9;
  }