<app-back-drop [isCard]="true">
  <span header>Create Template</span>
  <div content>
    <div class="gap-4 grid lg:grid-cols-3 md:grid-cols-3 sm:grid-cols-1">
      <mat-form-field appearance="outline">
        <mat-label>Outline</mat-label>
        <input matInput placeholder="Placeholder" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Outline2</mat-label>
        <input matInput placeholder="Placeholder" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Outline3</mat-label>
        <input matInput placeholder="Placeholder" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Outline4</mat-label>
        <input matInput placeholder="Placeholder" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Outline5</mat-label>
        <input matInput placeholder="Placeholder" />
      </mat-form-field>
    </div>
  </div>
</app-back-drop>
