@use '@angular/material' as mat;
@tailwind base;
@tailwind components;
@tailwind utilities;


// Light theme
html {
  color-scheme: light;
  @include mat.theme((color: mat.$azure-palette,
      typography: Roboto,
      density: 0));
}

// Dark theme
body.dark-theme {
  color-scheme: dark;
  background-color: black !important;

}

.mat-drawer-backdrop {
  position: fixed !important;
}

.mdc-notched-outline__notch {
  border-right: none;
}

/* Default scrollbar (hidden by default) */
::-webkit-scrollbar {
  width: 6px;
  /* Slim scrollbar width */
  background-color: transparent;
  /* Invisible when not hovered */
}

/* Scrollbar on hover */
::-webkit-scrollbar:hover {
  background-color: #f0f0f0;
  /* Light grey background */
}

/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  /* Light grey thumb */
  border-radius: 10px;
  /* Rounded edges for thumb */
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0;
  /* Slightly darker grey on hover */
}

/* Firefox scrollbar */
* {
  scrollbar-width: thin;
  /* Slim scrollbar */
  scrollbar-color: #c0c0c0 transparent;
  /* Thumb and track colors */
}

/* Hover effect for Firefox (using hoverable elements) */
*:hover {
  scrollbar-color: #a0a0a0 #f0f0f0;
  /* Active scrollbar colors */
}