:host {
    display: block;
    padding: 1rem;
  
    .search-container {
      display: flex;
      align-items: center;
      margin-bottom: 1.5rem;
  
      mat-form-field {
        flex: 1;
        margin-right: 1rem;
      }
  
      button {
        height: 36px;
      }
    }
  
    .results-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr); // Ensures four cards per row
      gap: 1rem; // Adds spacing between cards
      
  
      .result-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        min-height: 320px; // Ensure consistent height
        text-align: center;
  
        img {
          width: 100px;
          height: 100px;
          object-fit: cover;
          margin-bottom: 1rem;
          border-radius: 8px;
        }
  
        .claim-date {
          font-size: 0.9rem;
          color: #555;
          margin-bottom: 1rem;
        }
  
        .status {
          font-size: 0.9rem;
          font-weight: bold;
          text-transform: capitalize;
          margin-bottom: 1rem;
  
          &.status-open {
            color: #007bff; // Blue
          }
  
          &.status-unclaim {
            color: #d32f2f; // Red
          }
  
          &.status-pending-pickup {
            color: #ffa726; // Orange
          }
  
          &.status-claimed {
            color: #4caf50; // Green
          }
        }
  
        .actions {
          display: flex;
          justify-content: center;
          gap: 0.5rem;
  
          button {
            font-size: 0.85rem;
            padding: 0.5rem 1rem;
  
            &.confirm-button {
              background-color: #d32f2f; // Red for confirm
              color: #fff;
  
              &:hover {
                background-color: #b71c1c;
              }
            }
  
            &.cancel-button {
              background-color: #757575; // Grey for cancel
              color: #fff;
  
              &:hover {
                background-color: #494949;
              }
            }
          }
        }
      }
    }
  }
  