.item-image {
    width: 100px; 
    height: 100px; 
    object-fit: cover; 
  }
  
  .error-message {
    color: red;
    font-size: 1rem;
    margin-top: 10px;
    font-weight: bold;
  }
  
  .spinner-container {
    display: flex;
    justify-content: center;
    margin: 200px 0;
  }
 
  
  .no-results {
    text-align: center;
    font-style: italic;
    color: gray;
    font-size: 1rem;
  }
  
  